In [1]:
from coronavirus_analyzer import CoronavirusAnalyzer
analyzer = CoronavirusAnalyzer()

2020-01-26 10:32:50,040 - numexpr.utils - INFO - NumExpr defaulting to 4 threads.

In [2]:
analyzer.df_virus.head()

                 全国           武汉           湖北     ... 台湾    澳门          青海     \
                 死亡 治愈 疑似  确诊 死亡 治愈 疑似  确诊 死亡 治愈  ... 疑似 确诊 死亡 治愈 疑似 确诊 死亡 治愈
2019-12-31 00:00  0  2  0  27  0  2  0  27  0  0  ...  0  0  0  0  0  0  0  0
2020-01-03 08:00  0  2  0  44  0  2  0  44  0  0  ...  0  0  0  0  0  0  0  0
2020-01-05 08:00  0  2  0  59  0  2  0  59  0  0  ...  0  0  0  0  0  0  0  0
2020-01-11 00:00  1  2  0  41  1  2  0  41  0  0  ...  0  0  0  0  0  0  0  0
2020-01-12 00:00  1  6  0  41  1  6  0  41  0  0  ...  0  0  0  0  0  0  0  0


                 疑似 确诊
2019-12-31 00:00  0  0
2020-01-03 08:00  0  0
2020-01-05 08:00  0  0
2020-01-11 00:00  0  0
2020-01-12 00:00  0  0

[5 rows x 140 columns]

In [3]:
analyzer.df_distance.head()

,Unnamed: 0,北京,上海,天津,重庆,黑龙江,吉林,辽宁,内蒙古,河北,...,福建,台湾,广东,海南,广西,云南,西藏,香港,澳门,武汉
0,北京,0.000000,1063.211982,103.589069,1464.353444,1057.005809,855.853840,622.467010,409.215900,270.146164,...,1554.821672,1713.056749,1883.681596,2278.975815,2045.527851,2094.429085,2566.591142,1963.500780,1979.971010,1047.708830
1,上海,1063.211982,0.000000,961.335849,1448.054847,1673.121103,1442.045454,1188.643430,1373.796144,990.777573,...,609.329894,685.259311,1212.021185,1669.102562,1602.880951,1968.820587,2907.958210,1227.709844,1272.272492,685.093039
2,天津,103.589069,961.335849,0.000000,1446.368115,1070.161187,856.893980,605.208515,495.545803,267.160461,...,1462.512464,1615.599793,1814.498850,2218.730448,1997.589735,2076.694578,2600.944315,1890.016607,1908.890967,981.317616
3,重庆,1464.353444,1448.054847,1446.368115,0.000000,2516.145266,2301.938754,2040.840512,1339.900652,1194.236309,...,1313.903475,1562.801543,975.457599,1120.044959,767.351473,630.492494,1487.560955,1107.052383,1072.535924,762.974248
4,黑龙江,1057.005809,1673.121103,1070.161187,2516.145266,0.000000,235.557625,509.018494,1323.824972,1324.955392,...,2279.190973,2342.865445,2787.255915,3221.992627,3039.219321,3146.600100,3562.860316,2838.434305,2869.841528,1992.035603

In [4]:
analyzer.df_info.head()

,地区,人口,GDP,人均GDP,流动人口,面积,海拔,北纬,东经,距离武汉
0,全国,1.395380e+09,9.003000e+13,64520.059052,54776300.0,964.998822,NaN,NaN,NaN,NaN
1,广东,1.134600e+08,9.727777e+12,85737.502203,590000.0,17.970000,6.6,23.133333,113.250000,836.326981
2,山东,1.004724e+08,7.646967e+12,76110.125766,506000.0,15.380000,51.6,36.633333,117.000000,711.110649
3,河南,9.605000e+07,4.805586e+12,50032.129099,3400000.0,16.700000,110.4,34.800000,113.700000,467.911353
4,四川,8.341000e+07,4.067813e+12,48768.888622,4370000.0,48.140000,505.9,30.650000,104.083333,983.906285